@charset "utf-8";

body{
    font-family:'NotoSans',sans-serif;
    color:#333;
}
body,h1,h2,h3,h4,h5,h6,div,ul,li,p,dl,dt,dd{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:#333;
}
.cf:after{
    content:"";
    display:block;
    clear:both;
}
#wrap{
    width:100%;
}

.cf:after{
    content:"";
    display:block;
    clear:both;
}