@charset "utf-8";

/*헤더*/
#header{}
.headerWrap{
    width:100%;
    height:650px;
    background:url(../images/hd_bg.png) no-repeat center bottom;
    background-size:cover;
}

.hdTxt{
    text-align:center;
    color:#fff;
}
.hdTxt div{}
.hdTxt p{}

.txtT{
    font-family:"NanumMyeongjo",sans-serif;
    font-size:25px;
    font-weight:bold;
    margin-top:20%;
}
.txtT p{}
.txtT span{
    color:red;
}

.txtB{
    font-size:17px;
    font-weight:200;
}
.txtB p{}

/*컨텐츠1*/
.con1{}

.con1Wrap{
    width:100%;
    padding:10% 0;
    background:url(../images/con1_bg.png) no-repeat center top;
    background-size:cover;
}

.txtBox{
    width:280px;
    height:157px;
    background:url(../images/co1_box.png) no-repeat center bottom;
    background-size:100%;
    color:#fff;
    text-align:center;
    margin:0 auto;
    padding-top:15%;
}
.txtBox h2{
    font-weight:500;
    font-size:22px;
}
.txtBox h3{
    font-weight:400;
    font-size:18px;
    margin-top:7px;
}
.txtBox h3 span{
    display:inline-block;
    width:50px;
    height:1px;
    background:#fff;
    vertical-align:middle;
    margin:0 5px;
}
.txtBox p{
    font-size:15px;
    font-weight:200;
    margin-top:5px;
}

.con1Menu{
    margin-left:5.3%;
    margin-top:30%;
}
.con1Menu li{
    float:left;
    width:45%;
    background:rgba(255,255,255,0.2);
    text-align:center;
    margin-right:4%;
    margin-bottom:4%;
}
.con1Menu li:nth-child(2n){
    margin-right:0;
}
.con1Menu li:nth-child(3n){
    margin-bottom:0;
}
.con1Menu li:last-child{
    margin-bottom:0;
}
.con1Menu a{
    padding:18% 0 10% 0;
    display:block;
    color:#fff;
    font-size:17px;
    font-weight:300;
}
.con1Menu img{
    display:inline-block;
    margin-top:15px;
}

/*컨텐츠2*/
.con2{
    font-size:0;
    margin:20% 0 25% 0;
}
.con2 h2{
    font-family:'NanumMyeongjo',sans-serif;
    font-size:28px;
    font-weight:900;
    text-align:center;
	padding-bottom:10%;
}
.con2 h2 a{
    color:#4E3827;
}
.con2 h2 span{
    display:inline-block;
    font-family:'NotoSans',sans-serif;
    font-size:18px;
    vertical-align:top;
    margin-left:3px;
    color:#674F3A;
}
.con2 div{
    width:90%;
    height:223px;
    box-shadow:0 0 7px rgba(0,0,0,0.2);
    margin-left:5%;
}
.con2 img{}
.con2 ul{
    display:inline-block;
    width:50%;
}

.missBox{
	margin-bottom:15%;
    position:relative;
}
.missBox .gender{
    position:absolute;
}
.missBox .pic1{}
.missBox .missTxt{
    position:absolute;
    top:11%;
    left:145px;
}
.missBox .missTxt li{
    font-size:18px;
    margin-bottom:10px;
}
.missBox .missTxt li:first-child{
    font-weight:600;
}
.missBox .missTxt li:last-child{
    margin:0;
}

.abandBox{
    position:relative;
}
.abandBox .gender{
    display:inline-block;
    position:absolute;
}
.abandBox .pic2{
    position:absolute;
    right:0;
}
.abandBox .abandTxt{
    text-align:right;
    position:absolute;
    top:11%;
    right:145px;
}
.abandBox .abandTxt li{
    font-size:18px;
    margin-bottom:10px;
}
.abandBox .abandTxt li:nth-child(2){
    font-weight:600;
}

/*컨텐츠3*/
.con3{
	width:100%;
	/*padding:75% 0;*/
	
}
.con3 ul{
    
}
.con3 a{
	color:#fff;
}

.QuickMenu{
    background:url(../images/con3_bg.png) no-repeat center center;
    background-size:cover;
}
.QuickMenu li{
    float:left;
    width:50%;
}
.QuickMenu a{
    display:block;
    padding:75% 0;
}


/*.QM{
	background:url(../images/con3_bg.png) no-repeat center center;
	background-size:cover;
    position:absolute;
    top:0%;
}
.QM li{
	display:inline-block;
	font-size:16px;
	font-weight:300;
}
.QM li:first-child{
    padding:15% 6.5% 16.3% 6.5%;
}
.QM li:nth-child(2){
    padding:15% 6.5% 16.3% 6.5%;
}
.QM li:nth-child(3){
    padding:16% 10% 18% 6.5%;
}
.QM li:last-child{
    padding:15% 4% 16% 4%;
}
.QM a{
	display:block;
}
.QM h3{
	font-size:19px;
	font-weight:400;
}
.QM p{
	margin:10% 0;
}
.QM img{}
.QM li:last-child img{
    display:block;
    width:45%;
    margin:7% auto;
}
.QM span{
	display:block;
	font-size:30px;
	font-weight:500;
}*/

/*컨텐츠4*/
.con4{
    margin:20% 0;
}
.con4 h2{
    font-family:'NanumMyeongjo',sans-serif;
    font-size:23px;
    font-weight:900;
    color:#4E3827;
    margin-left:3.5%;
}

.not{
    width:100%;
    margin:10% 0;
}
.not dl{
    width:92%;
    padding:3%;
    margin:0 auto;
    margin-bottom:3%;
    box-sizing:border-box;
    border:1px solid #A69B92;
}
.not dt{
    width:280px;
    font-size:17px;
    font-weight:400;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.not p{
    font-size:11px;
    font-weight:200;
    margin:5px 0 7px 0;
}
.not dd{
    width:280px;
    font-size:13px;
    font-weight:400;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.not .notMore{
    width:300px;
    height:50px;
    margin:0 auto;
}
.not .notMore a{
    display:block;
    height:50px;
    font-size:15px;
    font-weight:500;
    text-align:center;
    line-height:50px;
    background:#EBEAE8;
}

/*컨텐츠5*/
.con5{
    color:#fff;
}

.con5Box1{
    width:100%;
    padding:10% 0;
    background:url(../images/bg1.png) no-repeat center center;
    background-size:cover;
    text-align:center;
}
.con5Box1 h3{
    font-size:18px;
    font-weight:400;
    padding-top:18%;
}
.con5Box1 p{
    font-size:15px;
    font-weight:300;
    padding-bottom:5%;
}
.con5Box1 a{
    display:block;
    width:50%;
    padding:2% 0;
    margin:0 auto;
    background:rgba(255,255,255,0.3);
    color:#fff;
    font-weight:300;
}

.con5Box2{
    width:100%;
    padding:29% 0;
    background:url(../images/bg2.png) no-repeat center center;
    background-size:cover;
    position:relative;
}

.box2Wrap{
    position:absolute;
    top:5%;
    left:10%
    
}
.box2Wrap img{
    width:30%;
}
.box2Wrap p{
    font-size:18px;
    font-weight:300;
}
.box2Wrap span{
    display:block;
    font-weight:500;
}
.box2Wrap a{
    display:block;
    width:90%;
    padding:4% 0;
    background:rgba(255,255,255,0.3);
    color:#fff;
    font-weight:300;
    text-align:center;
}

.con5Box3{
    width:100%;
    padding:8% 0;
    background:url(../images/bg3.png) no-repeat center center;
    background-size:cover;
    text-align:center;
}
.con5Box3 h3{
    font-size:20px;
    font-weight:400;
    width:75%;
    border-bottom:1px solid #fff;
    margin:0 auto;
}
.con5Box3 p{
    font-size:15px;
    font-weight:300;
}
.con5Box3 a{
    display:block;
    width:45%;
    padding:1% 0;
    background:rgba(255,255,255,0.3);
    margin:0 auto;
}