/*노토산스*/
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans'),
        url('NotoSans-Thin.woff2') format('woff2'), 
        url('NotoSans-Thin.woff') format('woff'),
        url('NotoSans-Thin.ttf') format('truetype'),
        url('NotoSans-Thin.otf') format('opentype'),
        url('NotoSans-Thin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans'),
        url('NotoSans-Regular.woff2') format('woff2'), 
        url('NotoSans-Regular.woff') format('woff'),
        url('NotoSans-Regular.ttf') format('truetype'),
        url('NotoSans-Regular.otf') format('opentype'),
        url('NotoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans'),
        url('NotoSans-Bold.woff2') format('woff2'), 
        url('NotoSans-Bold.woff') format('woff'),
        url('NotoSans-Bold.ttf') format('truetype'),
        url('NotoSans-Bold.otf') format('opentype'),
        url('NotoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSans'),
        url('NotoSans-Black.woff2') format('woff2'), 
        url('NotoSans-Black.woff') format('woff'),
        url('NotoSans-Black.ttf') format('truetype'),
        url('NotoSans-Black.otf') format('opentype'),
        url('NotoSans-Black.eot') format('embedded-opentype');
}

/*나눔명조*/
@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('NanumMyeongjoR.woff2') format('woff2'), 
        url('NanumMyeongjoR.woff') format('woff'),
        url('NanumMyeongjoR.ttf') format('truetype'),
        url('NanumMyeongjoR.otf') format('opentype'),
        url('NanumMyeongjoR.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('NanumMyeongjoB.woff2') format('woff2'), 
        url('NanumMyeongjoB.woff') format('woff'),
        url('NanumMyeongjoB.ttf') format('truetype'),
        url('NanumMyeongjoB.otf') format('opentype'),
        url('NanumMyeongjoB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 900;
    src: local('※'),
        url('NanumMyeongjoEB.woff2') format('woff2'), 
        url('NanumMyeongjoEB.woff') format('woff'),
        url('NanumMyeongjoEB.ttf') format('truetype'),
        url('NanumMyeongjoEB.otf') format('opentype'),
        url('NanumMyeongjoEB.eot') format('embedded-opentype');
}